$padding: 6px;

.nav {
    padding: $padding * 2;
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    border:1px solid #aeaeae;
}

.content {
    display: none;
    
    &.active {
        display: block;
    }
}

.card {
    margin-bottom: $padding * 3;
    .card-header {
        padding: $padding;
        background-color: rgba(rgb(97, 48, 48), .3);
        h2 {
            font-size: 1.2em;
            margin: 0;
            padding: 0;
        }
    }
    .card-body {
        padding: $padding;
        h3 {
            font-size: 1em;
            span {
                font-size: .7em;
            }
        }
        button {
            padding: $padding;
        }
    }
}

.list-group {
    width: 100%;
    .active {
        font-size: 1.1em;
        padding: $padding;
    }
    li {
        font-size: .8em;
        list-style: none;
        span {
            display: block;
            width: 100%;
            font-size: .9em;
            font-style: italic;
        }
        sub {
            line-height: 100%;
            bottom: 0;
            font-size: 100%;
            text-decoration: line-through;
        }
        h4 {
            font-size: 1.1em;
        }
        &.border-li {
            border: 0;
            border-bottom: 1px solid #acacac;
        }
        &.ingredients {
            padding: $padding * 2;
            padding-left: 30px;
            position: relative;
            &:hover {
                background-color: #e6e6e6;
            }
            &.clicked {
                background-color: rgba(0,128,0,.3);
            }
            i {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: green;
            }
        }
    }
}