<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#" (click)="changeTab(1)">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeTab(2)">Adicionar Receita</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" (click)="changeTab(3)">Relatorio</a>
  </li>
</ul>

<div class="container" [ngClass]="steps == 1 ? 'content active' : 'content' ">
  
  <div class="row">
    <h1 class="col-12">{{ title }}</h1>
  </div>
  
  <div class="row">
    
    <div class="col-9">
      <div class="row">
        
        <div class="col-6" *ngFor="let item of list">
          
          <div class="card">
            
            <div class="card-header">
              <h2> {{ item.name }} </h2>
            </div>
            
            <div class="card-body">
              <h3>Peso:</h3>
              <p> {{ item.peso }}</p>
            </div>
            
            <div class="card-footer">
              <button class="btn btn-primary" (click)="checkQuantities(item.name);">Fazer Receita</button>
            </div>
            
          </div>
          
        </div>
        
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        
        <ul class="list-group" *ngIf="showFormula">
          <li class="list-group-item active">Formula</li>
          
        </ul>
        
      </div>
    </div>
    
  </div>
</div>

<div class="container" [ngClass]="steps == 2 ? 'content active' : 'content' ">
  {{ title }}
  
  <form (submit)="addWeight($event)">
    <legend>Formulario</legend>
    <div class="form-group">
      <label for="Sabores">Seleciona o Sabor</label>
      <select 
      id="Sabores"
      class="form-control"
      [(ngModel)] = "pesagem.name"
      [ngModelOptions]="{standalone: true}"
      >
      <option value="">Selecione um Sabor</option>
      <option *ngFor="let item of selectOptions">
        {{ item.name }}
      </option>
    </select>
  </div>
  
  <div class="form-group">
    <input 
    type="text"
    class="form-control"
    placeholder="Peso em Gramas"
    [(ngModel)]="pesagem.peso"
    [ngModelOptions]="{standalone: true}"
    />
  </div>
  
  <input type="submit" class="btn btn-primary" value="adicionar pesagem">
  
</form>
</div>

<div class="container" [ngClass]="steps == 3 ? 'content active' : 'content' ">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  
  <table class="table table-striped">
    <thead>
      <th>Sabor</th>
      <th>Peso</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of report">
        <td> {{ item.name }}</td>
        <td> {{ item.peso }}</td>
        <td> {{ item.status }}</td>
      </tr>
    </tbody>
  </table>
  
</div>